{% extends 'base.html' %}

{% block content %}

<div>
<h2 class="form-header">Login</h2>
<section class="form-section">  
    
<form class="form-item" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="form-button" type="submit" value="submit">Login</button>

</form>
</div>
    

<div>
    <footer>
  
          <p>Copyright © 2022 Tracy Rothery • Perth based Freelance Web Designer &
            Developer</p>&nbsp
            <p>
              tracy.lee@gmail.com &nbsp
              0431 444 888</p>
            <button class="story_button2">Subcribe to our mailing list</button>
        </div>
     
    </footer>
</div>
 {% endblock %}
