{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="user-profile">
    <h2>{{user.username}}/<h2>
    {% if user.get_full_name %}
        <h3>{{user.get_full_name}} &lt;{{user.email}}&gt; </h3>
    {% else %}
        <h3>{{user.email}}</h3>
    {% endif %}
    {% if user.image %}
        <img scr="{% static 'users/defult.jpg' %}">
    {% endif %}

</div>

<div>
    
    {% for story in user_story %}
        <h2><a href="{% url 'news:story' story.id %}">{{ story.title }}, <br> {{ story.author.username }} </a></h2>
    
        {% endfor %}
   
</div>

{% endblock content%}






