<nav class ="navbar"> 
    <a href="{% url 'news:index' %}">Home</a>
    <div class="dropdown">
        <button class="dropbtn" onclick="myFunction()">More
            <i class="fa fa-caret-down"></i>
          </button>
        <div class="dropdown-content" id="myDropdown">
            <a href="{% url 'news:category' 'Events' %}">Events</a>
            <a href="{% url 'news:category' 'Technology' %}">Technology</a>
            <a href="{% url 'news:category' 'Announcements' %}">Announcements</a>
            <a href="{% url 'news:category' 'She Codes Plus' %}">She Codes Plus</a>
        </div>

    {% if request.user.is_authenticated %} 
        <a href="{% url 'users:profile' pk=request.user.id %}">{{ user.username}}</a>
        <a href="{% url 'logout' %}">logout</a>
        
    {% else %}
        <a href="{% url 'login' %}">login</a>
        <a href="{% url 'users:createAccount' %}">Create Aaccount</a>
    {% endif %}


</nav> 
