{% extends "base.html" %}

{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content%}


{% if request.user.is_authenticated %}

<a href="{% url 'news:newStory' %}"> <button> Write New Story </button> </a>

{% endif %}

{% comment %} <section class="categories-section">
{% if categories %}
  {% for cat in categories %}
    
    {{cat.name}}
    {% endfor %}
      {% endif %}  {% endcomment %}


<div>
    <ul>
        <a href="{% url 'news:category' 'Events' %}">Events</a>
        <a href="{% url 'news:category' 'Technology' %}">Technology</a>
        <a href="{% url 'news:category' 'Announcements' %}">Announcements</a>
        <a href="{% url 'news:category' 'She Codes Plus' %}">She Codes Plus</a>
    </ul>
</div>

<h2>Latest News</h2>

<div id="latest-stories">
  {% if latest_stories %} {% for story in latest_stories %}
  {% include "./storyCard.html" with story=story position=forloop.counter %}
  {% endfor %}
  {% else %}
    <p>No stories are available.</p>
  {% endif %}
</div>


<div id="all-stories">
  {% if all_stories %} {% for story in all_stories %}
  {% include "./storyCard.html" with story=story %}
  {% endfor %} {% else %}
  <p>No stories are available.</p>
  {% endif %}
</div>


{% endblock %}
